<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" xml:lang="nl" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/sites/default/files/favicon.png" type="image/x-icon" />
 <title>diybookscanner.eu | open & affordable </title>
<link type="text/css" rel="stylesheet" media="all" href="css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="css//defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/common.css" />
</head><body>
 <div id="header">  <!--a href="/" title="Home"><img src="images/logo.png" alt="Home" /></a-->  <h1 class="site-name title"><a href="/">diybookscanner.eu</a></h1>  <div class="site-slogan">Open & affordable</div></div>
 <div class="navlinks"><ul class="links" id="navlist"><li class="menu-123 first"><a href="./index.html" title="diybookscanner.eu - scan books. ten times faster.">start</a></li>
</ul> </div>
 <table id="content">
  <tr>
   <td id="main">

<!-- begin content -->
{{ content }}
<!-- end content -->
 <div id="footer">© 2012-2020 diybookscanner.eu, <a href="mailto:info@diybookscanner.eu">info@diybookscanner.eu</a>
 </div>
</td>
</tr>
</table>
</body>
</html>

